{% load staticfiles %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Digital Juries | Experiments with New Civic Models Online</title>
	<link rel="stylesheet" href={% static "juries/css/bootstrap.min.css" %}>
	<link rel="stylesheet" href={% static "juries/css/bootstrap-grid.min.css" %}>
	
{% block css %}
{% endblock %}
	
	<link rel="stylesheet" href={% static "juries/css/slick.css" %}>
	<link rel="stylesheet" href={% static "juries/css/slick-theme.css" %}>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



	<link rel="stylesheet" href={% static "juries/css/style.css" %}>
</head>

<body class="d-flex flex-column h-100">
<span id="csrf" style="display:none;">{{ csrf_token }}</span>

{% block content %}
{% endblock %}


<!-- JS Liraries -->
<script src={% static "juries/js/jquery.min.js" %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src={% static "juries/js/bootstrap.bundle.js" %}></script>
<script src={% static "juries/js/bootstrap.min.js" %}></script>

<!-- Carousel -->
<script src={% static "juries/js/slick.min.js" %}></script>

<!-- Main -->
<script src={% static "juries/js/main.js" %}></script>


{% block jury %}
{% endblock %}

{% block js %}
{% endblock %}



</body>
</html>
