{% load staticfiles %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Digital Juries | Experiments with New Civic Models Online</title>
	<link rel="stylesheet" href={% static "juries/css/bootstrap.min.css" %}>
	<link rel="stylesheet" href={% static "juries/css/bootstrap-grid.min.css" %}>

{% block css %}
{% endblock %}

	<link rel="stylesheet" href={% static "juries/css/slick.css" %}>
	<link rel="stylesheet" href={% static "juries/css/slick-theme.css" %}>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



	<link rel="stylesheet" href={% static "juries/css/style.css" %}>

	<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
(function() {
window.__insp = window.__insp || [];
__insp.push(['wid', 1757839986]);
var ldinsp = function(){
if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1757839986&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 0);
})();
</script>

<!-- End Inspectlet Asynchronous Code -->

</head>

<body class="d-flex flex-column h-100">
<span id="csrf" style="display:none;">{{ csrf_token }}</span>

{% block content %}
{% endblock %}


<!-- JS Liraries -->
<script src={% static "juries/js/jquery.min.js" %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src={% static "juries/js/bootstrap.bundle.js" %}></script>
<script src={% static "juries/js/bootstrap.min.js" %}></script>

<!-- Carousel -->
<!-- <script src={% static "juries/js/slick.min.js" %}></script> -->

<!-- Main -->
<script src={% static "juries/js/main.js" %}></script>


{% block jury %}
{% endblock %}

{% block js %}
{% endblock %}



</body>
</html>
