{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block css %}
<style>
	#mturk {
		width: 200px;
		margin-right: 30px;
	}
</style>
{% endblock %}

{% block content %}

	<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
		<p class="dark">By typing my MTurk ID, I acknowledge that I have read and agree to the above consent form and agree to take part in this research.</p>

		<input type="text" id="mturk" placeholder="Type MTurk ID here.">
		<button class="btn btn-lg btn-secondary" disabled id="submit">I Consent</button>
	</nav>

<main class="flex-shrink-0" role="main">
	<section class="container">
		<div class="row">
			<div class="col-sm-1 col-xs-12"></div>
			<div class="col-sm-5 col-xs-12">

				<h2 class="headline">Informed Consent</h2>

				<h3 class="yellow">About This Study</h3>

				<p>Thank you for participating in this experiment. Your contribution to our research helps us learn more how to better control content posted online in a way that keeps users safe while not preventing their freedom of expression.</p>


				<h3 class="yellow">What to Expect</h3>

				<p>You will be instructed on what to do during this research study. Your participation is completely voluntary, and whether or not you take part is up to you. You may exit the study at any time.</p>

				<p>This experiment will be in 3 parts. You will be shown 3 cases based on content that has been uploaded on social media and asked to decide what the toxicity level of the content is. You will also be asked what punishments should be taken against the original poster, if any. You may be asked to collaborate with other jury participants online to arrive at a single decision.</p>


				<h3 class="yellow">Potential Risks</h3>

				<p>Content moderation has inherent risks. The cases in this study have been carefully curated by the researchers to assess potentially objectionable content in a more controlled setting than what content moderators may see on the job every day.</p>

				<p>You will be shown text and image-based content that may contain offensive language, hate speech, slurs, political dogwhistling (coded messages), and other forms of toxic speech.</p>

				<p>You will NOT be shown content containing nudity, pornography, or explicit graphic violence.</p>

				<p>You must be over the <strong>age of 18</strong> to participate.</p>

				<br/><br />

			</div>

			<div class="col-sm-1 col-xs-12"></div>

			<div class="col-sm-4 col-xs-12">
				<br /><br /><br /><br /><br />

				<div class="callout">
					<h2 class="yellow mt-0">Quick Facts</h2>

					<ul class="mb-0 pb-0">
						<li>Experiment has <span class="yellow">3 rounds</span></li>
						<li>Participation should take approximately <span class="yellow">20-30 minutes</span></li>
						<li>Personally identifying information will <span class="yellow">NOT</span> be stored</li>
						<li>Your data will <span class="yellow">NOT</span> be recorded unless you complete this experiment in its entirety</li>
					</ul>
				</div>

				<p><em>For any concerns or questions, please contact the <a href="mailto:jfan@mde.harvard.edu">researchers</a>.</em></p>

			</div>

		</div>
	</section>

</main>

{% endblock %}

{% block js %}

<script>
	$('#mturk').on('input', function() {
		$('#submit').prop('disabled', false);
		$('#submit').removeClass('btn-secondary');
		$('#submit').addClass('btn-primary');
	});


	$('#submit').on('click', function() {
		var id = $('#mturk').val();
		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/consent_post',
			data: data,
			success: function(data) {
				window.location = '/survey_demographics?id=' + id;
			}
		});
	});

</script>

{% endblock %}
