{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

<main class="flex-shrink-0" role="main">
	<section class="container-fluid">
			<div class="row">

				<!-- CASE -->
				<div class="col-md-4 col-sm-12" id="case">
					<!-- CASE: Slideshow -->
					<img src="/static/{{ case.image | safe}}" %} border="0" alt="" />
				</div>

				<div class="col-md-5 col-sm-12">
					<!-- CASE: Context -->
					<div id="caseContext">

						<h4 class="yellow">Context</h4>

						{{ case.context | safe }}

						<p>We think this may violate community standards because of:</p>

						<div class="btngroup" role="group" aria-label="Violations">

						{{ case.violations | safe}}


						</div>
					</div>

				</div>
				<!-- // END CASE -->

				<!-- JURY -->
				<div class="col-md-3 col-sm-12 jury" id="jury">

					<h3 class="mt-2">Automatic Decision</h3>

					<!-- JURY: Score -->
					<div id="juryDecision" class="subsection">
						<h4 class="yellow">Toxicity Score: <span id="juryScore" class="score light text-right">{{ case.decision_score}}</span>

							<span class="badge badge-pill badge-danger" data-toggle="popover" data-trigger="focus hover" title="Toxicity Guidelines" data-content="0 - 4: Unlikely to be toxic<br>4 - 8: Borderline toxicity<br>8 - 10: Likely to be toxic">Highly toxic</span>
						</h4>

						<h4 class="yellow">Content Action: <span class="score light">{{ case.decision_content_action }}</span></h4>

						<h4 class="yellow">User Action:
							<span class="score light">{{ case.decision_user_action }}</span></h4>
					</div>

					<!-- JURY: Delib Module -->
					<div id="juryDelib" class="subsection">
						<h4 class="yellow">Justification:</h4>
						{{ case.decision_justification | safe }}


					</div>
				</div>
				<!-- // END JURY -->

		</div>
	</section>
</main>

<footer id="panel-control" class="accordion mt-auto panel">
	<div class="card">
		<div class="card-body">
			<p>In this round, you will be shown flagged content along with the platform’s decision. You do NOT have to make any selections in this round.</p>

			<button class="btn btn-primary" id="continue">Click to continue when ready</button>
		</div>
	</div>
</footer>


<!-- MODAL -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="instructions" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="dark m-0" id="modalHeader">Starting Round <span id="roundnum"></span> of 3</h3>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dark">
				<p>In this round, you will be shown flagged content along with the platform’s decision. You do NOT have to make any selections in this round.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ready!</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block js %}
<script>
	$(document).ready(function() {
		$('#modal').modal('show');
		$('#roundnum').text(getParameterByName('round'));
	})

	$('#continue').on('click', function() {
		var id = getParameterByName('id');
		var group = getParameterByName('group');
		var round = getParameterByName('round');
		var cas = getParameterByName('case');
		window.location = '/survey_control?id=' + id + '&group=' + group + '&round=' + round + '&case=' + cas;
	});
</script>
{% endblock %}


{% block jury %}
<!-- <script src={% static "juries/js/jury.js" %}></script> -->
{% endblock %}
