{% extends 'juries/base.html' %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href={% static "juries/css/bootstrap-slider.min.css" %}>
{% endblock %}



{% block content %}

<main class="flex-shrink-0" role="main">
	<section id="control" class="container-fluid">
			<div class="row">

				<!-- CASE -->
				<div class="col-md-4 col-sm-12" id="case">
					<!-- CASE: Slideshow -->
					<img src="/static/{{ case.image | safe}}" border="0" alt="" />
				</div>

				<div class="col-md-5 col-sm-12">
					<!-- CASE: Context -->
					<div id="caseContext">

						<h4 class="yellow">Context</h4>

						{{ case.context | safe }}
						<p>We think this may violate community standards because of:</p>

						<div class="btngroup" role="group" aria-label="Violations">
							{{ case.violations | safe }}
					
						</div>
					</div>

				</div>
				<!-- // END CASE -->

				<!-- JURY -->
				<div class="col-md-3 col-sm-12 jury" id="jury">
				<h3 class="mt-2">Jury Decision</h3>

				<h4 id="pending">Waiting for discussion to conclude to vote</h4>

				<!-- JURY: Score -->
				<div id="juryDecision" class="subsection" style="display: none;">
					<h4 class="yellow">Average Toxicity Score:
					<span id="juryScore" class="score light text-right"></span>
					</h4>

					<!-- SCORE SLIDER -->
					<div class="slider">
						<input type="text" id="sliderJury">
					</div>

					<ul id="juryVotes">
					</ul>


				<!-- JURY: Delib Module -->
				<div class="subsection">
					<h4 class="yellow">Content Actions Voted On:</h4>

					<div class="d-flex flex-column">
						<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="" id="unlist_button">Unlist (<span id="unlist">0 votes</span>)</button>

						<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="" id="delete_button">Delete (<span id="delete">0 votes</span>)</button>

						<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="" id="report_button">Report (<span id="report">0 votes</span>)</button>
					</div>

					<h4 class="yellow">User Actions Voted On:</h4>

					<div class="d-flex flex-column">
						<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="" id="warn_button">Warn  (<span id="warn">0 votes</span>)</button>

						<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="" id="ban_button">Ban for One Week (<span id="ban">0 votes</span>)</button>

						<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="" id="permaban_button">Permanently Ban (<span id="permaban">0 votes</span>)</button>
					</div>

				</div>
			</div>
			<!-- // END JURY -->

		</div>
	</section>
</main>

<!-- INDIVIDUAL DECISION PANEL -->
<footer id="panel-control" class="accordion mt-auto panel">
	<div class="card">
		<div class="card-header" style="z-index: 20;" data-toggle="collapse" data-target="#panelDecision">
				<p id="instructions">In this round, you will be deciding a case along a jury of your peers through discussion.
					You have at least 5 minutes to conduct discussion in the chat box below. Afterwards, you will make a vote.
					After that, you will get an opportunity to continue discussion and resolve disagreements as well as
					change your vote before moving on.
					</p>

				<button type="submit" class="btn btn-secondary" disabled value="Submit" id="submit">Submit Decision</button>

		</div>

		<div class="card-group show" id="panelDecision" style="position: relative;">


			<div class="card">

				<!-- Chat window -->
				<div id="messagebox">
					<!-- Enter name before chatting -->
					<div id="login">
						<h4 class="grey">Juror chat</h4>
							<input id="usernameInput" type="text" autocomplete="off" placeholder="Enter any username to chat" />
					</div>

					<ul class="messages dark">
					</ul>
				</div>

				<div id="chat">
						<!-- <form action=""> -->
							<input id="inputMessage" id="m" autocomplete="off" placeholder="Post a public message" />
							<!-- <button>Send</button>
						</form> -->
				</div>
			</div>



			<div id="overlay" style="background: rgba(0, 0, 0, 0.5); z-index: 10; position: absolute; width: 50%; height:100%; top: 0; left: 50%;">
				<button class="btn-sm" style="position:relative; top: 5%;  left:20%;">
					Continue discussion for
					  <span id="time">5:00</span> minutes. <BR>
					  	You can vote here once the timer is done.
					  </button>
			</div>

			<!-- INSTRUCTIONS -->
			<div class="card">
					<!-- SCORE -->
					<div id="panelScore" role="group" aria-label="Decision">
						<h4 class="grey">Drag cursor to select toxicity score:
							<span id="indivScore" class="score dark text-right"></span>
							<span id="indivScoreLabel" class="badge badge-pill badge-primary" data-toggle="popover" data-trigger="hover" title="Low toxicity" data-content=""></span>
						</h4>

						<!-- SCORE SLIDER -->
						<div class="slider">
							<input type="text" id="sliderIndiv">
						</div>
					</div>

						<div id="panelAction">
								<!-- ACTION: CONTENT -->
								<div id="actionContent">
									<h4 class="dark">What action should the platform take on the content?</h4>

									<div class="btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-outline-secondary {% if ui.immersive_content_unlist %} active {% endif %}" id="unlist_check_btn">
											<input type="checkbox" autocomplete="off" id="unlist_check" {% if ui.immersive_content_unlist %} checked="checked" {% endif %}>
											Unlist from search
										</label>

										<label class="btn btn-outline-secondary {% if ui.immersive_content_delete %} active {% endif %}" id="delete_check_btn">
											<input type="checkbox" autocomplete="off" id="delete_check" {% if ui.immersive_content_delete %} checked="checked" {% endif %}>
											Delete
										</label>

										<label class="btn btn-outline-secondary {% if ui.immersive_content_report %} active {% endif %}" id="report_check_btn">
											<input type="checkbox" autocomplete="off" id="report_check" {% if ui.immersive_content_report %} checked="checked" {% endif %}>
											Report to authorities
										</label>
									</div>
								</div>

								<!-- ACTION: USER -->
								<div id="actionUser">
									<h4 class="dark">What action should the platform take on the user?</h4>

									<div class="btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-outline-secondary {% if ui.immersive_user_warn %} active {% endif %}" id="warn_check_btn">
											<input type="checkbox" autocomplete="off" id="warn_check" {% if ui.immersive_user_warn %} checked="checked" {% endif %}>
											Warn
										</label>

										<label class="btn btn-outline-secondary {% if ui.immersive_user_ban %} active {% endif %}" id="ban_check_btn">
											<input type="checkbox" autocomplete="off" id="ban_check" {% if ui.immersive_user_ban %} checked="checked" {% endif %}>
											Ban for 1 week
										</label>

										<label class="btn btn-outline-secondary {% if ui.immersive_user_permaban %} active {% endif %}" id="permaban_check_btn">
											<input type="checkbox" autocomplete="off" id="permaban_check" {% if ui.immersive_user_permaban %} checked="checked" {% endif %}>
											Permanently Ban
										</label>
									</div>
								</div>

								<!-- JUSTIFICATION -->
								<!-- <div id="panelJustification">
									<h4 class="dark">Why do you think so?</h4>
									<textarea rows="3"></textarea>
								</div> -->
						</div>

			</div>

		</div>
	</div>
</footer>



<!-- ENFORCEMENT MODAL -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="enforcement" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="dark m-0" id="modalHeader">Starting Round</h3>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dark">
				<h3>Instructions</h3>
				<p>In this round, you will be deciding a case along a jury of your peers through discussion. You have at least 5 minutes to conduct discussion in the chat box below. Afterwards, you will make a vote. After that, you will get an opportunity to continue discussion and resolve disagreements as well as change your vote before moving on.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Start</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block jury %}
<script src={% static "juries/js/bootstrap-slider.min.js" %}></script>
<script src={% static "juries/js/jury.js" %}></script>
{% endblock %}


{% block js %}
<script>
	var id = getParameterByName('id');
	var group = getParameterByName('group');
	var round = getParameterByName('round');
	var cas = getParameterByName('case');

	var countdown = getParameterByName('countdown');
	if (countdown != '' && countdown != null) {
		countdown = parseFloat(countdown);
	} else {
		countdown = 5.0;
	}

	var csrf = $('#csrf').text();

	var jury = getParameterByName('jury');
	if (jury != '' && jury != null) {
		jury = parseInt(jury);
	} else {
		jury = 6;
	}
	half_jury = Math.ceil(jury/2.0);
	if (half_jury * 2 == jury) {
		half_jury += 1;
	}


	$("#panelAction").show();

	sliderJury.slider("disable");


function turn_on_realtime_votes() {
	$('#unlist_check_btn').on('click', function() {
		var data = {
		  	csrfmiddlewaretoken: csrf,
		  	id: id,
		  	check: $('#unlist_check').is(":checked"),
		  	action: 'unlist',
		  };
		post_action(data);
	});
	$('#delete_check_btn').on('click', function() {
		var data = {
		  	csrfmiddlewaretoken: csrf,
		  	id: id,
		  	check: $('#delete_check').is(":checked"),
		  	action: 'delete',
		  };
		post_action(data);
	});
	$('#report_check_btn').on('click', function() {
		var data = {
		  	csrfmiddlewaretoken: csrf,
		  	id: id,
		  	check: $('#report_check').is(":checked"),
		  	action: 'report',
		  };
		post_action(data);
	});
	$('#warn_check_btn').on('click', function() {
		var data = {
		  	csrfmiddlewaretoken: csrf,
		  	id: id,
		  	check: $('#warn_check').is(":checked"),
		  	action: 'warn',
		  };
		post_action(data);
	});
	$('#ban_check_btn').on('click', function() {
		var data = {
		  	csrfmiddlewaretoken: csrf,
		  	id: id,
		  	check: $('#ban_check').is(":checked"),
		  	action: 'ban',
		  };
		post_action(data);
	});
	$('#permaban_check_btn').on('click', function() {
		var data = {
		  	csrfmiddlewaretoken: csrf,
		  	id: id,
		  	check: $('#permaban_check').is(":checked"),
		  	action: 'permaban',
		  };
		post_action(data);
	});


	sliderIndiv.slider().on('slideStop', function(event) {
	    var vote = $('#sliderIndiv').val();
	    var data = {
		  	csrfmiddlewaretoken: csrf,
		  	id: id,
		  	vote: vote,
		  };
		  $.ajax({
				type: 'POST',
				url: '/post_immersive_vote',
				data: data,
				success: function(data) {
				}
			});
		});

	}

	function post_action(data) {
		 $.ajax({
				type: 'POST',
				url: '/post_immersive_action',
				data: data,
				success: function(data) {
				}
			});
	}




if ("{{ voted }}" == "True") {

	$('#overlay').hide();
    $('.card-header').click();
	$('#instructions').text('You have already voted. Once all ' + jury + ' votes have come in from the jury, you can see results, resolve any disagreements, and change your vote before moving on.');
	poll();
	turn_on_realtime_votes();

	var vote = parseFloat("{{ ui.immersive_vote }}");

	$("#indivScore").text(vote.toFixed(2));
    sliderIndiv.slider('setValue', vote);

	    $('#submit').text('Continue');

	    $('#submit').attr('disabled', 'disabled');
	    $("#submit").addClass("btn-secondary");
	    $("#submit").removeClass("btn-primary");

} else {


		$('#submit').on('click', function() {

			var vote = $('#sliderIndiv').val();
			var unlist = $('#unlist_check').is(":checked");
			var del = $('#delete_check').is(":checked");
			var report = $('#report_check').is(":checked");
			var warn = $('#warn_check').is(":checked");
			var ban = $('#ban_check').is(":checked");
			var permaban = $('#permaban_check').is(":checked");

			var csrf = $('#csrf').text();
			var data = {csrfmiddlewaretoken: csrf,
						vote: vote,
						unlist: unlist,
						del: del,
						report: report,
						warn: warn,
						ban: ban,
						permaban: permaban,
						group: group,
						id: id};
			$.ajax({
				type: 'POST',
				url: '/immersive_post',
				data: data,
				success: function(data) {
					after_vote();
					turn_on_realtime_votes();
				}
			});
			return false;
		});

	var poll_obj = null;

	// COUNTDOWN TIMER
	function startTimer(duration, display) {
	    var timer = duration, minutes, seconds;
	    poll_obj= setInterval(function () {
	        minutes = parseInt(timer / 60, 10);
	        seconds = parseInt(timer % 60, 10);

	        minutes = minutes < 10 ? "0" + minutes : minutes;
	        seconds = seconds < 10 ? "0" + seconds : seconds;

	        display.text(minutes + ":" + seconds);

	        if (--timer < 0) {
	            timer = 0;

	            $('#overlay').hide();
	            $("#panelAction").hide();

	            $('#submit').removeClass('btn-secondary');
	            $('#submit').addClass('btn-primary');
	            $('#submit').removeAttr('disabled');

	            poll();

	            clearInterval(poll_obj);

	        }
	    }, 1000);
	}

	jQuery(function ($) {
	    var fiveMinutes = 60 * countdown,
	        display = $('#time');
	    startTimer(fiveMinutes, display);
	});


}



function after_vote() {

		$('.card-header').click();
	    $('#instructions').text('Thanks for providing your vote. Once all ' + jury + ' votes have come in from the jury, you can see results, resolve any disagreements, and change your vote before moving on.');


	    $('#submit').text('Continue');
	    $('#submit').unbind('click');

	    $('#submit').attr('disabled', 'disabled');
	    $("#submit").addClass("btn-secondary");
	    $("#submit").removeClass("btn-primary");

	}



	function poll() {
	    $.ajax({
	        url: "/poll_immersive?group=" + group,
	        type: "GET",
	        success: function(data) {

						// get jurors
						jurors = Object.entries(data.user_votes);

						var juryVotes = [];

						for (var i in jurors) {
							var entry = '<li><b>' + jurors[i][0] + ':</b> ' + jurors[i][1] + '</li>';
							juryVotes.push(entry);
					  }
						$('#juryVotes').html(juryVotes);


	        	count = data.count;
	        	$('#pending').html('Waiting... <span class="yellow" id="vote_count">' + count + '</span> out of <span id="count_jury">' + jury + '</span> people have voted</h4>');

	        	if (count >= jury) {

	        		$('#pending').text("All " + jury + " jury members have voted");

	        		$('#juryDecision').show();

	        		$("#juryScore").text(data.vote.toFixed(2));
        			sliderJury.slider('setValue', data.vote);

        		if (data.unlist >= half_jury) {
        			$('#unlist_button').removeClass('btn-secondary');
        			$('#unlist_button').addClass('btn-danger');
        		} else {
        			$('#unlist_button').addClass('btn-secondary');
        			$('#unlist_button').removeClass('btn-danger');
        			if (data.unlist == 1) {
        				$('#unlist').text('1 vote');
        			}
        		}
        		if (data.unlist != 1) {
        			$('#unlist').text(data.unlist + ' votes');
        		}
        		if (data.del >= half_jury) {
        			$('#delete_button').removeClass('btn-secondary');
        			$('#delete_button').addClass('btn-danger');
        		} else {
        			$('#delete_button').addClass('btn-secondary');
        			$('#delete_button').removeClass('btn-danger');
        			if (data.del == 1) {
        				$('#delete').text('1 vote');
        			}
        		}
        		if (data.del != 1) {
        			$('#delete').text(data.del + ' votes');
        		}
        		if (data.report >= half_jury) {
        			$('#report_button').removeClass('btn-secondary');
        			$('#report_button').addClass('btn-danger');
        		} else {
        			$('#report_button').addClass('btn-secondary');
        			$('#report_button').removeClass('btn-danger');
        			if (data.report == 1) {
        				$('#report').text('1 vote');
        			}
        		}
        		if (data.report != 1) {
        			$('#report').text(data.report + ' votes');
        		}
        		if (data.warn >= half_jury) {
        			$('#warn_button').removeClass('btn-secondary');
        			$('#warn_button').addClass('btn-danger');
        		} else {
        			$('#warn_button').addClass('btn-secondary');
        			$('#warn_button').removeClass('btn-danger');
        			if (data.warn == 1) {
        				$('#warn').text('1 vote');
        			}
        		}
        		if (data.warn != 1) {
        			$('#warn').text(data.warn + ' votes');
        		}
        		if (data.ban >= half_jury) {
        			$('#ban_button').removeClass('btn-secondary');
        			$('#ban_button').addClass('btn-danger');
        		} else {
        			$('#ban_button').addClass('btn-secondary');
        			$('#ban_button').removeClass('btn-danger');
        			if (data.ban == 1) {
        				$('#ban').text('1 vote');
        			}
        		}
        		if (data.ban != 1) {
        			$('#ban').text(data.ban + ' votes');
        		}
        		if (data.permaban >= half_jury) {
        			$('#permaban_button').removeClass('btn-secondary');
        			$('#permaban_button').addClass('btn-danger');
        		} else {
        			$('#permaban_button').addClass('btn-secondary');
        			$('#permaban_button').removeClass('btn-danger');
        			if (data.permaban == 1) {
        				$('#permaban').text('1 vote');
        			}
        		}
        		if (data.permaban != 1) {
        			$('#permaban').text(data.permaban + ' votes');
        		}

      			$('#submit').text("Continue");
        		$('#submit').removeAttr('disabled');
        		$("#submit").removeClass("btn-secondary");
				    $("#submit").addClass("btn-primary");


				   $('#instructions').text('All votes are in! Below you can continue discussion, and you can also change your vote. Your changes are reflected in real-time above. Click Continue when you are ready to move on.');


				    $('#submit').on('click', function() {
				    	window.location = '/survey_immersive?id=' + id + '&group=' + group + '&round=' + round + '&case=' + cas;
				    });

			 }


	        },
	        dataType: "json",
	        complete: setTimeout(function() {
	        			poll();
	        	}, 5000),
	        timeout: 2000
	    });
	}


  var FADE_TIME = 150; // ms

  var COLORS = [
    '#e21400', '#91580f', '#f8a700', '#f78b00',
    '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
    '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
  ];

  // Initialize variables
  var $window = $(window);
  var $usernameInput = $('#usernameInput'); // Input for username
  var $messages = $('.messages'); // Messages area
  var $inputMessage = $('#inputMessage'); // Input message input box

  var $loginPage = $('#login'); // The login page
  var $chatPage = $('#chat'); // The chatroom page

  // Prompt for setting a username
  var username; // global username

  var typing = false;
  var lastTypingTime;
  var $currentInput = $usernameInput.focus();

  if ("{{ ui.chat_username }}" != "None") {
  	$usernameInput.val("{{ ui.chat_username }}");
  	setUsername();
  }


  $window.keydown(function (event) {
    // Auto-focus the current input when a key is typed
    if (!(event.ctrlKey || event.metaKey || event.altKey)) {
      $currentInput.focus();
    }
    // When the client hits ENTER on their keyboard
    if (event.which === 13) {
      if (username) {
        sendMessage();
        typing = false;
      } else {
        setUsername();
      }
    }
  });

  function polling_messages() {
  		var last_m = $('.messages').children().last().attr('id');

	    $.ajax({
	        url: "/poll_chat?group=" + group + '&last_m=' + last_m,
	        type: "GET",
	        success: function(data) {
	        	for (var i=0;i<data.messages.length;i++) {
					addChatMessage({
				        username: data.messages[i].username,
				        message: data.messages[i].message,
				        id: data.messages[i].id,
				      });
				}
	        },
	        dataType: "json",
	        complete: setTimeout(function() {
	        			polling_messages();
	        	}, 5000),
	        timeout: 2000
	    });
  }

  // Sets the client's username
  function setUsername () {
    username = $usernameInput.val();
    // username = cleanInput($usernameInput.val().trim());

    // If the username is valid
    if (username) {
      $loginPage.fadeOut();
      $chatPage.show();
      $loginPage.off('click');


      $.ajax({
			type: 'GET',
			url: '/get_chat_messages?group=' + group,
			success: function(data) {
				for (var i=0;i<data.messages.length;i++) {
					addChatMessage({
				        username: data.messages[i].username,
				        message: data.messages[i].message,
				        id: data.messages[i].id,
				      });
				}

				polling_messages();
			}
		});


      $currentInput = $inputMessage.focus();

	  var data = {
	  	csrfmiddlewaretoken: csrf,
	  	username: username,
	  	id: id,
	  };

	  $.ajax({
			type: 'POST',
			url: '/chat_username',
			data: data,
			success: function(data) {
			}
		});
    }
  }

    // Sends a chat message
  function sendMessage () {
    var message = $inputMessage.val();
    // Prevent markup from being injected into the message
    // message = cleanInput(message);
    // if there is a non-empty message and a socket connection
    if (message) {

      var csrf = $('#csrf').text();
	  var data = {
	  	csrfmiddlewaretoken: csrf,
	  	username: username,
	  	message: message,
	  	id: id,
	  };

	  $.ajax({
			type: 'POST',
			url: '/post_chat_message',
			data: data,
			success: function(data) {
				$inputMessage.val('');

				addChatMessage({
			        username: username,
			        message: message,
			        id: data.id
			      });
			}
		});

    }
  }

  // Adds the visual chat message to the message list
  function addChatMessage (data, options) {
    var $usernameDiv = $('<span class="username"/>')
      .text(data.username)
      .css('color', getUsernameColor(data.username));
    var $messageBodyDiv = $('<span class="messageBody">')
      .text(data.message);

    var typingClass = data.typing ? 'typing' : '';
    var $messageDiv = $('<li id="message_' + data.id + '" class="message"/>')
      .data('username', data.username)
      .addClass(typingClass)
      .append($usernameDiv, " ", $messageBodyDiv);

    addMessageElement($messageDiv, options);
  }



  // Gets the color of a username through our hash function
  function getUsernameColor (username) {
    // Compute hash code
    var hash = 7;
    for (var i = 0; i < username.length; i++) {
       hash = username.charCodeAt(i) + (hash << 5) - hash;
    }
    // Calculate color
    var index = Math.abs(hash % COLORS.length);
    return COLORS[index];
  }

    // Adds a message element to the messages and scrolls to the bottom
  // el - The element to add as a message
  // options.fade - If the element should fade-in (default = true)
  // options.prepend - If the element should prepend
  //   all other messages (default = false)
  function addMessageElement (el, options) {
    // console.log("addMessageElement");
    var $el = $(el);

    // Setup default options
    if (!options) {
      options = {};
    }
    if (typeof options.fade === 'undefined') {
      options.fade = true;
    }
    if (typeof options.prepend === 'undefined') {
      options.prepend = false;
    }

    // Apply options
    if (options.fade) {
      $el.hide().fadeIn(FADE_TIME);
    }
    if (options.prepend) {
      $messages.prepend($el);
    } else {
      $messages.append($el);
    }

    var chatTop = $("#messagebox").scrollTop();
    var chatHeight = $("#messagebox").height();

    $("#messagebox").scrollTop($messages[0].scrollHeight);
  }





</script>

{% endblock %}
