{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" href={% static "juries/css/bootstrap-slider.min.css" %}>
{% endblock %}

{% block content %}

<main class="flex-shrink-0" role="main">
	<section id="control" class="container-fluid">
			<div class="row">

				<!-- CASE -->
				<div class="col-md-4 col-sm-12" id="case">
					<!-- CASE: Slideshow -->
					<img src='/static/{{ case.image | safe}}' border="0" alt="" />
				</div>

				<div class="col-md-5 col-sm-12">
					<!-- CASE: Context -->
					<div id="diss">

						<h4 class="yellow">Context</h4>

						{{ case.context | safe}}

						<p></p>We think this may violate the community standards because of:</p>

						<div class="btngroup" role="group" aria-label="Violations">

							{{ case.violations | safe}}
							</div>
					</div>

				</div>
				<!-- // END CASE -->

				<!-- JURY -->
				<div class="col-md-3 col-sm-12 jury" id="jury">
				<h3 class="mt-2">Jury Decision</h3>

				<h4 id="pending">Waiting... <span class="yellow" id="vote_count">0</span> out of <span id="count_jury"></span> people have voted</h4>

				<!-- JURY: Score -->
				<div id="juryDecision" class="subsection" style="display:none;">
					<h4 class="yellow">Average Toxicity Score:
					<span id="juryScore" class="score light text-right"></span>
					</h4>

					<!-- SCORE SLIDER -->
					<div class="slider">
						<input type="text" id="sliderJury">
					</div>

				<!-- JURY: Delib Module -->
				<div class="subsection">
					<h4 class="yellow">Recommended Actions (passed majority):</h4>
					<span id="recommended">

					</span>
					<h4 class="yellow">Not Recommended (failed majority):</h4>
					<span id="nonrecommend">

					</span>
				</div>


			</div>
			<!-- // END JURY -->

		</div>
	</section>
</main>

<!-- INDIVIDUAL DECISION PANEL -->
<footer id="panel-control" class="accordion mt-auto panel">
	<div class="card">
		<div class="card-header" data-toggle="collapse" data-target="#panelDecision">
				<p id="instructions">In this round, you will be deciding a case along a jury of your peers through voting. Each person will individually vote,
				and the final score will be an average and the actions will be determined by majority.</p>

					<!-- <button type="submit" class="btn btn-secondary" value="Submit" disabled>Submit Decision</button> -->
					<button class="btn btn-secondary" disabled id="submit">Submit Decision</button>
		</div>

		<div class="card-group show" id="panelDecision">
			<!-- INSTRUCTIONS -->
			<div class="card">
					<!-- SCORE -->
					<div id="panelScore" role="group" aria-label="Decision">
						<h4 class="grey">Drag cursor to select toxicity score:
							<span id="indivScore" class="score dark text-right">
							</span>
							<span id="indivScoreLabel" class="badge badge-pill badge-primary" data-toggle="popover" data-trigger="hover" title="Low toxicity" data-content=""></span>
						</h4>

						<!-- SCORE SLIDER -->
						<div class="slider">
							<input type="text" id="sliderIndiv">
						</div>
					</div>
			</div>

			<div class="card">
					<div id="panelAction">
						<!-- ACTION: CONTENT -->
						<div id="actionContent">
							<h4 class="dark">What action should the platform take on the content?</h4>

							<div class="btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="unlist">
									Unlist from search
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="delete">
									Delete
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="report">
									Report to authorities
								</label>
							</div>
						</div>

						<!-- ACTION: USER -->
						<div id="actionUser">
							<h4 class="dark">What action should the platform take on the user?</h4>

							<div class="btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="warn">
									Warn
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="ban">
									Ban for 1 week
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="permaban">
									Permanently Ban
								</label>
							</div>
						</div>

						<!-- JUSTIFICATION -->
						<!-- <div id="panelJustification">
							<h4 class="dark">Why do you think so?</h4>
							<textarea id="explanation" rows="3"></textarea>
						</div> -->
				</div>
			</div>

		</div>
	</div>
</footer>


<!-- MODAL -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="instructions" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="dark m-0" id="modalHeader">Starting Round <span id="roundnum"></span> of 3</h3>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dark">
				<p>In this round, you will be deciding a case along a jury of your peers through voting. Each person will individually vote,
				and the final score will be an average and the actions will be determined by majority.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ready!</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}



{% block jury %}
<!-- Slider -->
<script src={% static "juries/js/bootstrap-slider.min.js" %}></script>

<script src={% static "juries/js/jury.js" %}></script>
{% endblock %}


{% block js %}

<script>
	$(document).ready(function() {
		$('#modal').modal('show');
		$('#roundnum').text(getParameterByName('round'));
	})

	var count;
	var id = getParameterByName('id');
	var group = getParameterByName('group');
	var round = getParameterByName('round');
	var cas = getParameterByName('case');


	var jury = getParameterByName('jury');
	if (jury != '' && jury != null) {
		jury = parseInt(jury);
	} else {
		jury = 6;
	}
	half_jury = Math.ceil(jury/2.0);
	if (half_jury * 2 == jury) {
		half_jury += 1;
	}

	$('#count_jury').text(jury);

	(function poll() {
	    $.ajax({
	        url: "/poll_scaleable?group=" + group + "&jury=" + jury,
	        type: "GET",
	        success: function(data) {
	        	count = data.count;
	        	$('#vote_count').text(count);

	        	if (count == jury) {

	        		$('#pending').text("All " + jury + " jury members have voted");

	        		$('#juryDecision').show();

	        		$("#juryScore").text(data.vote.toFixed(2));
	        		sliderJury.slider('setValue', data.vote);
	        		sliderJury.slider("disable");

	        		if (data.unlist >= half_jury) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Unlist from Search</button> ' + data.unlist + ' votes <BR>');
	        		} else {
	        			if (data.unlist == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Unlist from Search</button> ' + data.unlist + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Unlist from Search</button> ' + data.unlist + ' votes <BR>');
	        			}
	        		}

	        		if (data.del >= half_jury) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Delete Content</button> ' + data.del + ' votes <BR>');
	        		} else {
	        			if (data.del == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Delete Content</button> ' + data.del + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Delete Content</button> ' + data.del + ' votes <BR>');
	        			}
	        		}

	        		if (data.report >= half_jury) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Report Content</button> ' + data.report + ' votes <BR>');
	        		} else {
	        			if (data.report == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Report Content</button> ' + data.report + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Report Content</button> ' + data.report + ' votes <BR>');
	        			}
	        		}

	        		if (data.warn >= half_jury) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Warn User</button> ' + data.warn + ' votes <BR>');
	        		} else {
	        			if (data.warn == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Warn User</button> ' + data.warn + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Warn User</button> ' + data.warn + ' votes <BR>');
	        			}
	        		}

	        		if (data.ban >= half_jury) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Ban User for 1 Week</button> ' + data.ban + ' votes <BR>');
	        		} else {
	        			if (data.ban == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Ban User for 1 Week</button> ' + data.ban + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Ban User for 1 Week</button> ' + data.ban + ' votes <BR>');
	        			}
	        		}

	        		if (data.permaban >= half_jury) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Permanently Ban User</button> ' + data.permaban + ' votes <BR>');
	        		} else {
	        			if (data.permaban == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Permanently Ban User</button> ' + data.permaban + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Permanently Ban User</button> ' + data.permaban + ' votes <BR>');
	        			}
	        		}


	        		$('#submit').removeAttr('disabled');
	        		$("#submit").removeClass("btn-secondary");
				    $("#submit").addClass("btn-primary");

	        	}

	        },
	        dataType: "json",
	        complete: setTimeout(function() {
	        		if (count < jury) {
	        			poll();
	        		}
	        	}, 5000),
	        timeout: 2000
	    });
	})();


	$('#submit').on('click', function() {

		var vote = $('#sliderIndiv').val();
		var unlist = $('#unlist').is(":checked");
		var del = $('#delete').is(":checked");
		var report = $('#report').is(":checked");
		var warn = $('#warn').is(":checked");
		var ban = $('#ban').is(":checked");
		var permaban = $('#permaban').is(":checked");
		// var explanation = $('#explanation').val();

		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					vote: vote,
					unlist: unlist,
					del: del,
					report: report,
					warn: warn,
					ban: ban,
					permaban: permaban,
					group: group,
					// explanation: explanation,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/scaleable_post',
			data: data,
			success: function(data) {
				after_vote();
			}
		});
		return false;
	});


	if ("{{ voted }}" == "True") {
		after_vote();
		 $('#instructions').text('You have already voted and cannot change your vote. Once all ' + jury + ' votes have come in from the jury, click to Continue.');

	}


	function after_vote() {
		$('.card-group').addClass('collapse');
		$('.card-group').removeClass('show');

		$('.card-header').removeAttr('data-toggle');
		$('.card-header').removeAttr('data-target');

	    $('#instructions').text('Thanks for providing your vote. Once all ' + jury + ' votes have come in from the jury, click to Continue.');

	    $('#submit').text('Continue');
	    $('#submit').unbind('click');

	    $('#submit').attr('disabled', 'disabled');
	    $("#submit").addClass("btn-secondary");
	    $("#submit").removeClass("btn-primary");


	    $('#submit').on('click', function() {
	    	window.location = '/survey_scaleable?id=' + id + '&group=' + group + '&round=' + round + '&case=' + cas;
	    });
	}
</script>


{% endblock %}
