{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" href={% static "juries/css/bootstrap-slider.min.css" %}>
{% endblock %}

{% block content %}

<main class="flex-shrink-0" role="main">
	<section id="control" class="container-fluid">
			<div class="row">

				<!-- CASE -->
				<div class="col-md-4 col-sm-12" id="case">
					<!-- CASE: Slideshow -->
					<img src={% static "juries/cases/manifesto.jpg" %} border="0" alt="" />
				</div>

				<div class="col-md-5 col-sm-12">
					<!-- CASE: Context -->
					<div id="diss">

						<h4 class="yellow">Context</h4>

						<p>On March 15, 2019, a man who was described as a white supremacist and member of the alt-right committed two consecutive terrorist attacks in Christchurch, New Zealand, targeting Muslims during Friday prayer. The attacks killed 50 people and injured 50 others. As part of his attack, he released a manifesto and live-streamed the event on Facebook, where it remained online and was viewed over 4,000 times <a href=" https://newsroom.fb.com/news/2019/03/technical-update-on-new-zealand/">before being removed</a>.</p>

						<p>While New Zealand has <a href="http://www.legislation.govt.nz/act/public/1990/0109/latest/DLM225513.html">laws</a> protecting freedom of speech, in the days following the attack, the government has pressed <a href="https://www.classificationoffice.govt.nz/news/latest-news/christchurch-attacks-press-releases/#christchurch-shooting-video-officially-objectionable">criminal charges</a> for individuals sharing the video or manifesto in violation of local laws forbidding <a href="https://www.dia.govt.nz/Censorship-Objectionable-and-Restricted-Material ">objectionable materials</a> including content promoting or encouraging acts of terrorism.</p>

						<p>The user is an America-based user who posted a link to the shooter's manifesto (hosted on a different website) with a mixed reaction comment. We think this may violate the community standards because of:</p>

						<div class="btngroup" role="group" aria-label="Violations">
							<button type="button" class="btn btn-outline-secondary" role="button" data-toggle="tooltip" data-html="true" title="We define hate speech as a direct attack on people based on what we call protected characteristics — race, ethnicity, national origin, religious affiliation, sexual orientation, caste, sex, gender, gender identity, and serious disease or disability." data-content="Definition">Hate speech</button>

							<button type="button" class="btn btn-outline-secondary" role="button" data-toggle="tooltip" title="We prohibit people from promoting or publicizing violent crime, theft, and/or fraud because we do not want to condone this activity and because there is a risk of copycat behavior. We also do not allow people to depict criminal activity or admit to crimes they or their associates have committed. We do, however, allow people to debate or advocate for the legality of criminal activities, as well as address them in a rhetorical or satirical way." data-html="true" data-content="Definition">Promoting Or Publicizing Crime</button>

							<button type="button" class="btn btn-outline-secondary" role="button" data-toggle="tooltip" title="We remove content that glorifies violence or celebrates the suffering or humiliation of others because it may create an environment that discourages participation." data-html="true" data-content="Definition">Violence and Graphic Content</button>

							<button type="button" class="btn btn-outline-secondary" role="button" data-toggle="tooltip" data-html="true" title="We do not allow organizations or content supporting organizations that proclaim a violent mission or are engaged in violence, including terrorist activity, organized hate, mass or serial murder, human trafficking,organized violence or criminal activity." data-content="Definition">Dangerous Individuals and Organizations</button>
						</div>
					</div>

				</div>
				<!-- // END CASE -->

				<!-- JURY -->
				<div class="col-md-3 col-sm-12 jury" id="jury">
				<h3>Jury Decision</h3>

				<h4 id="pending">Waiting... <span class="yellow" id="vote_count">0</span> out of 6 people have voted</h4>

				<!-- JURY: Score -->
				<div id="juryDecision" class="subsection" style="display:none;">
					<h4 class="yellow">Average Toxicity Score:
					<span id="juryScore" class="score light text-right"></span>
					</h4>

					<!-- SCORE SLIDER -->
					<div class="slider">
						<input type="text" id="sliderJury">
					</div>

				<!-- JURY: Delib Module -->
				<div class="subsection">
					<h4 class="yellow">Recommended Actions (passed majority):</h4>
					<span id="recommended">

					</span>
					<h4 class="yellow">Not Recommended (failed majority):</h4>
					<span id="nonrecommend">

					</span>
				</div>


			</div>
			<!-- // END JURY -->

		</div>
	</section>
</main>

<!-- INDIVIDUAL DECISION PANEL -->
<footer id="panel-control" class="accordion mt-auto panel">
	<div class="card">
		<div class="card-header" data-toggle="collapse" data-target="#panelDecision">
				<p id="instructions">In this round, you will be deciding a case along a jury of your peers through voting. Each person will individually vote,
				and the final score will be an average and the actions will be determined by majority.</p>

					<!-- <button type="submit" class="btn btn-secondary" value="Submit" disabled>Submit Decision</button> -->
					<button class="btn btn-secondary" disabled id="submit">Submit Decision</a>
		</div>

		<div class="card-group show" id="panelDecision">
			<!-- INSTRUCTIONS -->
			<div class="card">
					<!-- SCORE -->
					<div id="panelScore" role="group" aria-label="Decision">
						<h4 class="grey">Drag cursor to select toxicity score:
							<span id="indivScore" class="score dark text-right"></span>
							<span id="indivScoreLabel" class="badge badge-pill badge-primary" data-toggle="popover" data-trigger="hover" title="Low toxicity" data-content=""></span>
						</h4>

						<!-- SCORE SLIDER -->
						<div class="slider">
							<input type="text" id="sliderIndiv">
						</div>
					</div>
			</div>

			<div class="card">
					<div id="panelAction">
						<!-- ACTION: CONTENT -->
						<div id="actionContent">
							<h4 class="dark">What action should the platform take on the content?</h4>

							<div class="btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="unlist">
									Unlist from search
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="delete">
									Delete
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="report">
									Report to authorities
								</label>
							</div>
						</div>

						<!-- ACTION: USER -->
						<div id="actionUser">
							<h4 class="dark">What action should the platform take on the user?</h4>

							<div class="btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="warn">
									Warn
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="ban">
									Ban for 1 week
								</label>

								<label class="btn btn-outline-secondary">
									<input type="checkbox" autocomplete="off" id="permaban">
									Permanently Ban
								</label>
							</div>
						</div>

						<!-- JUSTIFICATION -->
						<div id="panelJustification">
							<h4 class="dark">Why do you think so?</h4>
							<textarea id="explanation" rows="3"></textarea>
						</div>
				</div>
			</div>

		</div>
	</div>
</footer>

{% endblock %}



{% block jury %}
<!-- Slider -->
<script src={% static "juries/js/bootstrap-slider.min.js" %}></script>

<script src={% static "juries/js/jury.js" %}></script>
{% endblock %}


{% block js %}

<script>

	var count;
	var id = getParameterByName('id');
	var group = getParameterByName('group');
	var condition = getParameterByName('condition');

	(function poll() {
	    $.ajax({
	        url: "/poll_scaleable?group=" + group,
	        type: "GET",
	        success: function(data) {
	        	count = data.count;
	        	$('#vote_count').text(count);

	        	if (count == 6) {

	        		$('#pending').text("All 6 jury members have voted");

	        		$('#juryDecision').show();

	        		$("#juryScore").text(data.vote.toFixed(2));
	        		sliderJury.slider('setValue', data.vote);
	        		sliderJury.slider("disable");

	        		if (data.unlist > 3) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Unlist from Search</button> ' + data.unlist + ' votes <BR>');
	        		} else {
	        			if (data.unlist == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Unlist from Search</button> ' + data.unlist + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Unlist from Search</button> ' + data.unlist + ' votes <BR>');
	        			}
	        		}

	        		if (data.del > 3) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Delete Content</button> ' + data.del + ' votes <BR>');
	        		} else {
	        			if (data.del == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Delete Content</button> ' + data.del + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Delete Content</button> ' + data.del + ' votes <BR>');
	        			}
	        		}

	        		if (data.report > 3) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Report Content</button> ' + data.report + ' votes <BR>');
	        		} else {
	        			if (data.report == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Report Content</button> ' + data.report + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Report Content</button> ' + data.report + ' votes <BR>');
	        			}
	        		}

	        		if (data.warn > 3) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Warn User</button> ' + data.warn + ' votes <BR>');
	        		} else {
	        			if (data.warn == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Warn User</button> ' + data.warn + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Warn User</button> ' + data.warn + ' votes <BR>');
	        			}
	        		}

	        		if (data.ban > 3) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Ban User for 1 Week</button> ' + data.ban + ' votes <BR>');
	        		} else {
	        			if (data.ban == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Ban User for 1 Week</button> ' + data.ban + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Ban User for 1 Week</button> ' + data.ban + ' votes <BR>');
	        			}
	        		}

	        		if (data.permaban > 3) {
	        			$('#recommended').append('<button type="button" class="btn btn-danger active" role="button" data-toggle="tooltip" title="" data-content="">Permanently Ban User</button> ' + data.permaban + ' votes <BR>');
	        		} else {
	        			if (data.permaban == 1) {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Permanently Ban User</button> ' + data.permaban + ' vote <BR>');
	        			} else {
	        				$('#nonrecommend').append('<button type="button" class="btn btn-secondary active" role="button" data-toggle="tooltip" title="" data-content="">Permanently Ban User</button> ' + data.permaban + ' votes <BR>');
	        			}
	        		}


	        		$('#submit').removeAttr('disabled');
	        		$("#submit").removeClass("btn-secondary");
				    $("#submit").addClass("btn-primary");

	        	}

	        },
	        dataType: "json",
	        complete: setTimeout(function() {
	        		if (count < 6) {
	        			poll();
	        		}
	        	}, 5000),
	        timeout: 2000
	    });
	})();


	$('#submit').on('click', function() {

		var vote = $('#sliderIndiv').val();
		var unlist = $('#unlist').is(":checked");
		var del = $('#delete').is(":checked");
		var report = $('#report').is(":checked");
		var warn = $('#warn').is(":checked");
		var ban = $('#ban').is(":checked");
		var permaban = $('#permaban').is(":checked");
		var explanation = $('#explanation').val();

		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					vote: vote,
					unlist: unlist,
					del: del,
					report: report,
					warn: warn,
					ban: ban,
					permaban: permaban,
					group: group,
					condition: condition,
					explanation: explanation,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/scaleable_post',
			data: data,
			success: function(data) {
				$('.card-group').addClass('collapse');
				$('.card-group').removeClass('show');

				$('.card-header').removeAttr('data-toggle');
				$('.card-header').removeAttr('data-target');

			    $('#instructions').text('Thanks for providing your vote. Once all 6 votes have come in from the jury, click to Continue.');

			    $('#submit').text('Continue');
			    $('#submit').unbind('click');

			    $('#submit').attr('disabled', 'disabled');
			    $("#submit").removeClass("btn-primary");
			    $("#submit").addClass("btn-secondary");

			    $('#submit').on('click', function() {
			    	window.location = '/survey_scaleable?group=' + group + '&condition=' + condition + '&id=' + id;
			    });
			}
		});
		return false;
	});
</script>


{% endblock %}
