{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
	<a href="thankyou.html" class="btn btn-lg btn-secondary">Continue when completed</a>
</nav>

<main class="flex-shrink-0" role="main">
	<section class="container">
		<h3>You're almost done!</h3>

		<form class="survey question">
			<div class="form-group">
				<label for="complete1">Which version did you prefer?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete1">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> No Jury</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Voting</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Jury with Chat</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete2">Why did you prefer that version?</label>
				<textarea rows="3" id="complete2"></textarea>
			</div>

			<div class="form-group">
				<label for="complete3">How invested did you feel in this experiment?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete3">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Very ininvested</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Uninvested</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Neutral</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Invested</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Very Invested</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete4">What could be changed to make you feel more invested?</label>
				<textarea rows="3" id="complete4"></textarea>
			</div>

			<div class="form-group">
				<label for="complete5">What was the quality of the conversation in the chatroom round?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete5">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Very low quality</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Low quality</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderate</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> High quality</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Very high quality</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete6">How much did you know about content moderation before this experiment?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete6">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Completely unfamiliar</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Somewhat unfamiliar</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately familiar</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Somewhat familiar</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Very familiar</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete7">If you knew about content moderation before this survey, what did you know about it?<label>
				<textarea rows="3" id="complete7"></textarea>
			</div>

			<div class="form-group">
				<label for="complete8">Did you feel any time constraints doing this experiment?<label>
				<textarea rows="3" id="complete8"></textarea>
			</div>

			<div class="form-group">
				<label for="complete9">How much did you trust the opinions of the other jury members?</label>

				<div class="btn-group btn-group-sm" role="group" id="complete9">
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Not at all</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">A little</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Neither trust nor distrust</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Somewhat</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Very Much</button>
				</div>
			</div>

			<div class="form-group">
				<label for="complete10">This experiment evaluates the potential for "jury duty for the internet" as a way to help communities decide what content to show online. If this feature was rolled out on the social media platforms that you currently use, how likely would be to participate?</label>

				<select multiple class="form-control" id="complete10">
					<option>Yes, I would volunteer for it</option>
					<option>Yes, if I'm bored/have free time</option>
					<option>Yes, if they pay me</option>
					<option>Yes, if it's mandatory</option>
					<option>Not likely at all</option>
				</select>
			</div>

			<div class="form-group">
				<label for="complete11">Do you have any other thoughts on this experiment?<label>
				<textarea rows="3" id="complete11"></textarea>
			</div>

		  <div class="form-group">
				 <label for="email">Email address (optional)</label>
				 <input type="text" class="form-control" id="email" placeholder="email@example.com">
				 <small>Please leave your email address if you are open to the researchers contacting you with follow-up questions about this experiment. Follow-up conversations will be compensated with a $25 Amazon gift card.</small>
		  </div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</section>

</main>

{% endblock %}
