{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
	<button class="btn btn-lg btn-primary" id="continue">Continue when completed</button>
</nav>

<main class="flex-shrink-0" role="main">
	<section class="container">
		<h2>You're almost done &mdash; last step!</h2>

		<p class="big">This experiment evaluates the potential for "jury duty for the internet" as a way to help communities decide what content to show online.</p>

		<hr />

		<form class="survey question">
			<!-- Overall -->
			<div class="form-group">
				<label for="complete_pref">1. Which jury system did you <b>MOST PREFER</b> for making content moderation decisions?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete_pref">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Round 1 (No Jury)</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Round 2 (Blind Voting)</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Round 3 (Deliberating)</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete_prefwhy">2. Why did you prefer that version?</label>
				<textarea rows="3" id="complete_prefwhy" placeholder="Enter explanation here"></textarea>
			</div>

			<div class="form-group">
				<label for="complete_nonpref">3. Which jury system did you <b>LEAST PREFER</b> for making content moderation decisions?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete_nonpref">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Round 1 (No Jury)</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Round 2 (Blind Voting)</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Round 3 (Deliberating)</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete_nonprefwhy">4. Why did you least prefer that version?</label>
				<textarea rows="3" id="complete_nonprefwhy" placeholder="Enter explanation here"></textarea>
			</div>

		<div class="form-group">
			<label for="complete_participate">5. If this feature was rolled out on the social media platforms that you currently use, how likely would be to participate? Select all that apply.</label>

			<div class="d-flex flex-wrap justify-content-start" id="complete_participate">
				<label class="btn btn-outline-warning">
					<input type="checkbox" autocomplete="off"> Yes, I would volunteer for it
				</label>

				<label class="btn btn-outline-warning">
					<input type="checkbox" autocomplete="off"> Yes, if I'm bored/have free time
				</label>

				<label class="btn btn-outline-warning">
					<input type="checkbox" autocomplete="off"> Yes, if I'm paid for my time
				</label>

				<label class="btn btn-outline-warning">
					<input type="checkbox" autocomplete="off"> Yes, if it's mandatory
				</label>

				<label class="btn btn-outline-warning">
					<input type="checkbox" autocomplete="off"> Not likely at all
				</label>
			</div>

			<hr />

			<h3>Enforcing your decisions</h3>

			<div class="form-group">
				<label for="complete_enf_rec">6. Imagine that this jury's decisions were given to the social media platform as a <span class="yellow">recommendation</span> (taken into advisement by policy teams, but no action required). How satisfied would you feel with this process?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete_enf_rec">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Not at all</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> A Little</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Somewhat</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Very Much</label>
				</div>
			</div>


			<div class="form-group">
				<label for="complete_enf_enf">7. Imagine that this jury's decisions were given to the social media platform as an <span class="yellow">enforced decision</span> (taken as binding action by policy teams and directly implemented). How satisfied would you feel with this process?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete_enf_enf">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Not at all</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> A Little</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Somewhat</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Very Much</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete_enf_why">8. Please explain your reasoning for the above.</label>
				<textarea rows="3" id="complete_enf_why" placeholder="Enter explanation here"></textarea>
			</div>

			<div class="form-group">
				<label for="complete3">9. How important is it to you that your opinions are factored into decisions?</label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete3">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Not at all</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> A Little</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Somewhat</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Very Much</label>
				</div>
			</div>

			<hr />

			<h3>About this Experiment</h3>

			<!-- Content Moderation -->
			<div class="form-group">
				<label for="confidence2">10. How confident are you in your abilities to decide what content should be on a platform like Facebook?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="confidence2">
						<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Very Much</label>
				</div>
			</div>

			<div class="form-group">
				<label for="complete_familiarity">11. How familiar were you with content moderation before this experiment?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="complete_familiarity">
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Not at all</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> A Little</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Somewhat</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Very Much</label>
				</div>
			</div>


			<!-- Concluding -->
			<hr />
			<div class="form-group">
				<label for="complete_comments">12. Do you have any other thoughts or concerns?<label>
				<textarea rows="3" id="complete_comments"></textarea>
			</div>

		  <div class="form-group">
				 <label for="email">13. Email address (optional)</label>
				 <input type="text" class="form-control" id="email" placeholder="email@example.com">
				 <small>Please leave your email address if you are open to the researchers contacting you with follow-up questions about this experiment. If you are selected for a follow-up conversation, you will be compensated with a $25 Amazon gift card.</small>
		  </div>

			<!-- <button type="submit" class="btn btn-primary" id="submit">Submit</button> -->
		</form>
	</section>

</main>

{% endblock %}

{% block js %}

<script>

	$('#continue').on('click', function() {

		var complete_pref = $('#complete_pref').val();
		var complete_prefwhy = $('#complete_prefwhy').val();
		var complete_nonpref = $('#complete_nonpref').val();
		var complete_nonprefwhy = $('#complete_nonprefwhy').val();
		var complete_participate = $('#complete_participate').val();
		var complete_enf_rec = $('#complete_enf_rec').val();
		var complete_enf_enf = $('#complete_enf_enf').val();
		var complete_enf_why = $('#complete_enf_why').val();
		var confidence2 = $('#confidence2').val();
		var familiarity = $('#complete_familiarity').val();
		var complete_comments = $('#complete_comment').val();
		var email = $('#email').val();
		var id = getParameterByName('id');

		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					complete_pref: complete_pref,
					complete_prefwhy: complete_prefwhy,
					complete_nonpref: complete_nonpref,
					complete_nonprefwhy: complete_nonprefwhy,
					complete_participate: complete_participate,
					complete_enf_rec: complete_enf_rec,
					complete_enf_enf: complete_enf_enf,
					complete_enf_why: complete_enf_why,
					confidence2: confidence2,
					complete_familiarity: complete_familiarity,
					complete_comments: complete_comments,
					email: email,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/completesurvey_post',
			data: data,
			success: function(data) {
				// $('#continue').prop('disabled', false);
				// $('#continue').removeClass('btn-secondary');
				// $('#continue').addClass('btn-primary');
				// $('#continue').on('click', function() {
					window.location = '/thankyou';
				// });
			}
		});
		return false;
	});

</script>

{% endblock %}
