{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
	<button class="btn btn-lg btn-secondary" disabled id="continue">Continue when completed</a>
</nav>

<main class="flex-shrink-0" role="main">
		<!-- <div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSekHKntKQ52XiI6EZ0YT5DDwAGpMVxtDqI9kcuBiptzlPYFkA/viewform?embedded=true">Loading...</iframe>
		</div> -->
<section class="container-fluid">
	<h3>Please complete the survey before continuing</h3>

	<form>
		<div class="form-group">
			<label for="control1">This process is an effective way to protect users from unwanted or toxic content.</label>

			<div class="btn-group btn-group-sm" role="group" id="control1">
				<button type="button" class="btn btn-secondary">Strongly disagree</button>
				<button type="button" class="btn btn-secondary">Disagree</button>
				<button type="button" class="btn btn-secondary">Neutral</button>
				<button type="button" class="btn btn-secondary">Agree</button>
				<button type="button" class="btn btn-secondary">Strongly agree</button>
			</div>
		</div>

		<div class="form-group">
			<label for="control2">This process cares about my preferences.</label>

			<div class="btn-group btn-group-sm" role="group" id="control2">
				<button type="button" class="btn btn-secondary">Strongly disagree</button>
				<button type="button" class="btn btn-secondary">Disagree</button>
				<button type="button" class="btn btn-secondary">Neutral</button>
				<button type="button" class="btn btn-secondary">Agree</button>
				<button type="button" class="btn btn-secondary">Strongly agree</button>
			</div>
		</div>

		<div class="form-group">
			<label for="control3">This process is fair.</label>

			<div class="btn-group btn-group-sm" role="group" id="control3">
				<button type="button" class="btn btn-secondary">Strongly disagree</button>
				<button type="button" class="btn btn-secondary">Disagree</button>
				<button type="button" class="btn btn-secondary">Neutral</button>
				<button type="button" class="btn btn-secondary">Agree</button>
				<button type="button" class="btn btn-secondary">Strongly agree</button>
			</div>
		</div>

		<div class="form-group">
			<label for="control4">This process values individual voices equally.</label>

			<div class="btn-group btn-group-sm" role="group" id="control4">
				<button type="button" class="btn btn-secondary">Strongly disagree</button>
				<button type="button" class="btn btn-secondary">Disagree</button>
				<button type="button" class="btn btn-secondary">Neutral</button>
				<button type="button" class="btn btn-secondary">Agree</button>
				<button type="button" class="btn btn-secondary">Strongly agree</button>
			</div>
		</div>

		<div class="form-group">
			<label for="control5">This process improves my trust in content moderation decisions.</label>

			<div class="btn-group btn-group-sm" role="group" id="control5">
				<button type="button" class="btn btn-secondary">Strongly disagree</button>
				<button type="button" class="btn btn-secondary">Disagree</button>
				<button type="button" class="btn btn-secondary">Neutral</button>
				<button type="button" class="btn btn-secondary">Agree</button>
				<button type="button" class="btn btn-secondary">Strongly agree</button>
			</div>
		</div>

		<div class="form-group">
			<label for="control6">This process feels like a legitimate exercise of power.</label>

			<div class="btn-group btn-group-sm" role="group" id="control6">
				<button type="button" class="btn btn-secondary">Strongly disagree</button>
				<button type="button" class="btn btn-secondary">Disagree</button>
				<button type="button" class="btn btn-secondary">Neutral</button>
				<button type="button" class="btn btn-secondary">Agree</button>
				<button type="button" class="btn btn-secondary">Strongly agree</button>
			</div>
		</div>

		<button type="submit" class="btn btn-primary" id="submit">Submit</button>
	</form>
</section>

</main>

{% endblock %}

{% block js %}

<script>
	
	$('#submit').on('click', function() {
		
		var control1 = $('#control1').val();
		var control2 = $('#control2').val();
		var control3 = $('#control3').val();
		var control4 = $('#control4').val();
		var control5 = $('#control5').val();
		var control6 = $('#control6').val();
		var id = getParameterByName('id');
		
		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					control1: control1,
					control2: control2,
					control3: control3,
					control4: control4,
					control5: control5,
					control6: control6,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/controlsurvey_post', 
			data: data,
			success: function(data) {
				$('#continue').prop('disabled', false);
				$('#continue').removeClass('btn-secondary');
				$('#continue').addClass('btn-primary');
				
				var next_url = data.url;
				$('#continue').on('click', function() {
					window.location = next_url + '&id=' + id;
				});
			}
		});
		return false;
	});
	
</script>

{% endblock %}

