{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
	<button class="btn btn-lg btn-primary" id="continue">Continue when completed</button>
</nav>

<main class="flex-shrink-0" role="main">
		<!-- <div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSekHKntKQ52XiI6EZ0YT5DDwAGpMVxtDqI9kcuBiptzlPYFkA/viewform?embedded=true">Loading...</iframe>
		</div> -->
<section class="container">
	<h3>Please complete the survey before continuing</h3>

	<hr />

	<p>In this round, the Jury Process you saw was <b class="yellow">Automatic Decision (No Jury)</b>, determined by a computer algorithm operated by a social media platform. You did not provide any input into this decision in this round.</p>

	<p>In answering the questions below, please evaluate your opinions on the process by which this outcome was reached.</p>

	<img src={% static "juries/img/jury_control.png" %} alt="Jury process" class="featured" />

	<hr />

	<form class="survey question">

		<div class="form-group">
			<label for="difficulty_control">Did you have any difficulties making a decision for this case?<label>
			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="difficulty_control">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Not at all</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> A Little</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Somewhat</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Very Much</label>
			</div>
		</div>

		<div class="form-group">
			<label for="time_control">Did you feel any time constraints doing this process?<label>
			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="time_control">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Not at all</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> A Little</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Moderately</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Somewhat</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Very Much</label>
			</div>
		</div>

		<h3>Please reflect upon the <span class="yellow">process</span> for reaching the automated <span class="yellow">outcome</span>.</h3>

		<div class="form-group">
			<label for="control1">This process is an effective way to protect users from unwanted or toxic content.</label>

			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="control1">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Strongly Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Neutral</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Agree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Strongly Agree</label>
			</div>
		</div>

		<div class="form-group">
			<label for="control2">This process cares about my preferences.</label>

			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="control2">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Strongly Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Neutral</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Agree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Strongly Agree</label>
			</div>
		</div>

		<div class="form-group">
			<label for="control3">This process is fair.</label>

			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="control3">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Strongly Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Neutral</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Agree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Strongly Agree</label>
			</div>
		</div>

		<div class="form-group">
			<label for="control4">This process values individual voices equally.</label>

			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="control4">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Strongly Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Neutral</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Agree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Strongly Agree</label>
			</div>
		</div>

		<div class="form-group">
			<label for="control5">This process improves my trust in how content moderation decisions are made.</label>

			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="control5">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Strongly Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Neutral</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Agree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Strongly Agree</label>
			</div>
		</div>

		<div class="form-group">
			<label for="control6">This process feels like a legitimate exercise of the social media platform's power.</label>

			<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="control6">
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option1" autocomplete="off"> Strongly Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option2" autocomplete="off"> Disagree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option3" autocomplete="off"> Neutral</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option4" autocomplete="off"> Agree</label>
				<label class="btn btn-outline-warning"><input type="radio" name="options" id="option5" autocomplete="off"> Strongly Agree</label>
			</div>
		</div>

		<!-- <button type="submit" class="btn btn-primary" id="submit">Submit</button> -->
	</form>
</section>

</main>

{% endblock %}

{% block js %}

<script>

	$('#continue').on('click', function() {

		var control1 = $('#control1').val();
		var control2 = $('#control2').val();
		var control3 = $('#control3').val();
		var control4 = $('#control4').val();
		var control5 = $('#control5').val();
		var control6 = $('#control6').val();
		var id = getParameterByName('id');

		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					control1: control1,
					control2: control2,
					control3: control3,
					control4: control4,
					control5: control5,
					control6: control6,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/controlsurvey_post',
			data: data,
			success: function(data) {
				// $('#continue').prop('disabled', false);
				// $('#continue').removeClass('btn-secondary');
				// $('#continue').addClass('btn-primary');

				var next_url = data.url;
				// $('#continue').on('click', function() {
					window.location = next_url + '&id=' + id;
				// });
			}
		});
		return false;
	});

</script>

{% endblock %}
