{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

	<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
		<button class="btn btn-lg btn-primary" id="continue">Continue when completed</button>
	</nav>

<main class="flex-shrink-0" role="main">
	<section class="container">
		<h3>Tell us about yourself</h3>

		<form class="survey">
			<div class="form-group">
		    <label for="ageRange">Age Range</label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="ageRange">
					<label class="btn btn-outline-warning"><input type="radio" name="options1" value="18-24" autocomplete="off"> 18-24</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options1" value="25-34" autocomplete="off"> 25-34</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options1" value="35-44" autocomplete="off"> 35-44</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options1" value="45-54" autocomplete="off"> 45-54</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options1" value="55-64" autocomplete="off"> 55-64</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options1" value="65+" autocomplete="off"> 65+</label>
				</div>
		  </div>

			<div class="form-group">
		    <label for="gender">Gender</label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="gender">
					<label class="btn btn-outline-warning"><input type="radio" name="options2" value="Female" autocomplete="off"> Female</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options2" value="Male" autocomplete="off"> Male</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options2" value="Non-binary" autocomplete="off"> Non-binary</label>
				</div>
		  </div>

			<div class="form-group">
				<label for="education">Highest completed level of Education</label>
				<div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons" role="group" id="education" style="flex-basis-0;">
					<label class="btn btn-outline-warning"><input type="radio" name="options3" value="Some high school" autocomplete="off"> Some high school</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options3" value="High school" autocomplete="off"> High school</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options3" value="College" autocomplete="off"> College</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options3" value="Grad/professional" autocomplete="off"> Grad/professional</label>
				</div>
			</div>

		  <!-- <div class="form-group">
			 <label for="zip">Zipcode</label>
			 <input type="text" class="form-control" id="zip" placeholder="00000">
		  </div> -->

			<div class="form-group">
				<label for="political">What do you consider your political affiliation?</label>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="political">
					<label class="btn btn-outline-warning"><input type="radio" name="options4" value="Republican" autocomplete="off"> Republican</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options4" value="Democrat" autocomplete="off"> Democrat</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options4" value="Libertarian" autocomplete="off"> Libertarian</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options4" value="Independent" autocomplete="off"> Independent</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options4" value="Other" autocomplete="off"> Other</label>
				</div>
			</div>

			<div class="form-group">
				<label for="engagement">How engaged do you consider yourself with politics?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="engagement">
					<label class="btn btn-outline-warning"><input type="radio" name="options5" value="Very Disinterested" autocomplete="off"> Very Disinterested</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options5" value="Disinterested" autocomplete="off"> Disinterested</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options5" value="Neutral" autocomplete="off"> Neutral</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options5" value="Interested" autocomplete="off"> Interested</label>
					<label class="btn btn-outline-warning"><input type="radio" name="options5" value="Very Interested" autocomplete="off"> Very Interested</label>
				</div>
			</div>


			<div class="form-group">
				<label for="confidence1">How confident are you in your abilities to decide what content should be on a platform like Facebook?</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="confidence1">
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="Not at all" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="A Little" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="Moderately" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="Somewhat" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="Very Much" autocomplete="off"> Very Much</label>
				</div>
			</div>


		  <!-- <button type="submit" class="btn btn-primary" id="submit">Submit</button> -->
		</form>
	</section>
</main>


{% endblock %}

{% block js %}

<script>
	$('#continue').on('click', function() {

		var age = $('#ageRange input[name=options1]:checked').val();
		var gender = $('#gender input[name=options2]:checked').val();
		var education = $('#education input[name=options3]:checked').val();
		var political = $('#political input[name=options4]:checked').val();
		var engagement = $('#engagement input[name=options5]:checked').val();
		var confidence1 = $('#confidence1 input[name=options6]:checked').val();
		var id = getParameterByName('id');

		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					age: age,
					gender: gender,
					education: education,
					political: political,
					engagement: engagement,
					confidence1: confidence1,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/demographics_post',
			data: data,
			success: function(data) {
				// $('#continue').prop('disabled', false);
				// $('#continue').removeClass('btn-secondary');
				// $('#continue').addClass('btn-primary');
				// $('#continue').on('click', function() {
					window.location = '/survey_morals?id=' + id;
				// });
			}
		});
		return false;
	});

</script>

{% endblock %}
