{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}


<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
	<button class="btn btn-lg btn-secondary" id="continue" disabled>Continue when completed</button>
</nav>

<main class="flex-shrink-0" role="main">
	<section class="container-fluid">
		<h3>Please complete the survey before continuing</h3>

		<form>
			<div class="form-group">
				<label for="immersive1">This process is an effective way to protect users from unwanted or toxic content.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive1">
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Neutral</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Agree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive2">This process cares about my preferences.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive2">
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Neutral</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Agree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive3">This process is fair.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive3">
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Neutral</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Agree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive4">This process values individual voices equally.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive4">
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Neutral</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Agree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive5">This process improves my trust in content moderation decisions.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive5">
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Neutral</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Agree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive6">This process feels like a legitimate exercise of power.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive6">
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Disagree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Neutral</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Agree</button>
					<button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">Strongly agree</button>
				</div>
			</div>

			<button type="submit" class="btn btn-primary" id="submit">Submit</button>
		</form>
	</section>

</main>

{% endblock %}

{% block js %}

<script>

	$('#submit').on('click', function() {

		var mv1 = $('#immersive1').val();
		var mv2 = $('#immersive2').val();
		var mv3 = $('#immersive3').val();
		var mv4 = $('#immersive4').val();
		var mv5 = $('#immersive5').val();
		var mv6 = $('#immersive6').val();
		var id = getParameterByName('id');

		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					mv1: mv1,
					mv2: mv2,
					mv3: mv3,
					mv4: mv4,
					mv5: mv5,
					mv6: mv6,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/immersivesurvey_post',
			data: data,
			success: function(data) {
				$('#continue').prop('disabled', false);
				$('#continue').removeClass('btn-secondary');
				$('#continue').addClass('btn-primary');
				var next_url = data.url;
				$('#continue').on('click', function() {
					window.location = next_url + '&id=' + id;
				});
			}
		});
		return false;
	});

</script>

{% endblock %}
