{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}


<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
	<a href="/survey_complete" class="btn btn-lg btn-secondary">Continue when completed</a>
</nav>

<main class="flex-shrink-0" role="main">
	<section class="container-fluid">
		<h3>Please complete the survey before continuing</h3>

		<form>
			<div class="form-group">
				<label for="immersive1">This process is an effective way to protect users from unwanted or toxic content.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive1">
					<button type="button" class="btn btn-secondary">Strongly disagree</button>
					<button type="button" class="btn btn-secondary">Disagree</button>
					<button type="button" class="btn btn-secondary">Neutral</button>
					<button type="button" class="btn btn-secondary">Agree</button>
					<button type="button" class="btn btn-secondary">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive2">This process cares about my preferences.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive2">
					<button type="button" class="btn btn-secondary">Strongly disagree</button>
					<button type="button" class="btn btn-secondary">Disagree</button>
					<button type="button" class="btn btn-secondary">Neutral</button>
					<button type="button" class="btn btn-secondary">Agree</button>
					<button type="button" class="btn btn-secondary">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive3">This process is fair.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive3">
					<button type="button" class="btn btn-secondary">Strongly disagree</button>
					<button type="button" class="btn btn-secondary">Disagree</button>
					<button type="button" class="btn btn-secondary">Neutral</button>
					<button type="button" class="btn btn-secondary">Agree</button>
					<button type="button" class="btn btn-secondary">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive4">This process values individual voices equally.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive4">
					<button type="button" class="btn btn-secondary">Strongly disagree</button>
					<button type="button" class="btn btn-secondary">Disagree</button>
					<button type="button" class="btn btn-secondary">Neutral</button>
					<button type="button" class="btn btn-secondary">Agree</button>
					<button type="button" class="btn btn-secondary">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive5">This process improves my trust in content moderation decisions.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive5">
					<button type="button" class="btn btn-secondary">Strongly disagree</button>
					<button type="button" class="btn btn-secondary">Disagree</button>
					<button type="button" class="btn btn-secondary">Neutral</button>
					<button type="button" class="btn btn-secondary">Agree</button>
					<button type="button" class="btn btn-secondary">Strongly agree</button>
				</div>
			</div>

			<div class="form-group">
				<label for="immersive6">This process feels like a legitimate exercise of power.</label>

				<div class="btn-group btn-group-sm" role="group" id="immersive6">
					<button type="button" class="btn btn-secondary">Strongly disagree</button>
					<button type="button" class="btn btn-secondary">Disagree</button>
					<button type="button" class="btn btn-secondary">Neutral</button>
					<button type="button" class="btn btn-secondary">Agree</button>
					<button type="button" class="btn btn-secondary">Strongly agree</button>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</section>

</main>

{% endblock %}
