{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}


<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
	<button class="btn btn-lg btn-primary" id="continue">Continue when completed</button>
</nav>

<main class="flex-shrink-0" role="main">
	<section class="container-fluid">
		<h3>Please complete the survey before continuing</h3>

		<hr />

		<p>In this round, the Jury Process you saw was <b class="yellow">Blind Voting</b>, polling a jury of 6 individuals.</p>

		<!-- <p>You rated the content with a toxicity score of <b class="yellow" id="indivScore">0.00</b> and recommended to <b class="yellow" id="recommended">[ACTION]</b> the content and <b class="yellow" id="recommended">[ACTION]</b> the user.</p>

		<p>The jury's average score rated the content with a toxicity score of <b class="yellow" id="indivScore">0.00</b> and recommended to <b class="yellow" id="recommended">[ACTION]</b> the content and <b class="yellow" id="recommended">[ACTION]</b> the user.</p> -->

		<p>In answering the questions below, please evaluate your opinions on the process by which this outcome was reached.</p>

		<img src={% static "juries/img/jury_scaleable.png" %} alt="Jury process" class="featured" />

		<form class="survey question">
			<div class="form-group">
				<!-- Scaleable -->
				<div class="form-group">
					<label for="scaleable_justification">Please explain your own decision.</label>

					<textarea rows="3" id="scaleable_justification" placeholder="Why"></textarea>
				</div>

				<div class="form-group">
					<label for="scaleable_difficulty">Did you have any difficulties making a decision for this case?<label>
					<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable_difficulty">
						<label class="btn btn-outline-warning"><input type="radio" name="optionsA" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsA" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsA" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsA" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsA" value="5" autocomplete="off"> Very Much</label>
					</div>
				</div>

				<div class="form-group">
					<label for="scaleable_time">Did you feel any time constraints doing this process?<label>
					<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable_time">
					<label class="btn btn-outline-warning"><input type="radio" name="optionsB" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsB" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsB" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsB" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsB" value="5" autocomplete="off"> Very Much</label>
						</div>
				</div>

				<div class="form-group">
					<label for="scaleable_satisfaction">How satisfied are you with the jury's decision?</label>

					<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable_satisfaction">
					<label class="btn btn-outline-warning"><input type="radio" name="optionsC" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsC" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsC" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsC" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="optionsC" value="5" autocomplete="off"> Very Much</label>
						</div>
				</div>

				<hr />

				<h3>Please reflect upon the <span class="yellow">process</span> for reaching the jury's <span class="yellow">outcome</span>.</h3>

				<hr />

			<div class="form-group">
				<label for="scaleable1">This process is an effective way to protect users from unwanted or toxic content.</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable1">
					<label class="btn btn-outline-warning"><input type="radio" name="options1" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options1" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options1" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options1" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options1" value="5" autocomplete="off"> Very Much</label>
					</div>
			</div>

			<div class="form-group">
				<label for="scaleable2">This process cares about my preferences.</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable2">
					<label class="btn btn-outline-warning"><input type="radio" name="options2" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options2" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options2" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options2" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options2" value="5" autocomplete="off"> Very Much</label>
					</div>
			</div>

			<div class="form-group">
				<label for="scaleable3">This process is fair.</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable3">
					<label class="btn btn-outline-warning"><input type="radio" name="options3" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options3" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options3" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options3" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options3" value="5" autocomplete="off"> Very Much</label>
					</div>
			</div>

			<div class="form-group">
				<label for="scaleable4">This process values individual voices equally.</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable4">
					<label class="btn btn-outline-warning"><input type="radio" name="options4" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options4" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options4" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options4" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options4" value="5" autocomplete="off"> Very Much</label>
						</div>
			</div>

			<div class="form-group">
				<label for="scaleable5">This process improves my trust in content moderation decisions.</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable5">
					<label class="btn btn-outline-warning"><input type="radio" name="options5" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options5" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options5" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options5" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options5" value="5" autocomplete="off"> Very Much</label>
						</div>
			</div>

			<div class="form-group">
				<label for="scaleable6">This process feels like a legitimate exercise of the social media platform's power.</label>

				<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" id="scaleable6">
					<label class="btn btn-outline-warning"><input type="radio" name="options6" value="1" autocomplete="off"> Not at all</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="2" autocomplete="off"> A Little</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="3" autocomplete="off"> Moderately</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="4" autocomplete="off"> Somewhat</label>
						<label class="btn btn-outline-warning"><input type="radio" name="options6" value="5" autocomplete="off"> Very Much</label>
					</div>
			</div>

			<!-- <button type="submit" class="btn btn-primary" id="submit">Submit</button> -->
		</form>
	</section>

</main>

{% endblock %}


{% block js %}

<script>

	var id = getParameterByName('id');
	var group = getParameterByName('group');
	var condition = getParameterByName('condition');

	$('#continue').on('click', function() {

		var scaleable_justification = $('#scaleable_justification').val();
		
		var scaleable_difficulty = $('#scaleable_difficulty input[name=optionsA]:checked').val(); 
		var scaleable_time = $('#scaleable_time input[name=optionsB]:checked').val(); 
		var scaleable_satisfaction = $('#scaleable_satisfaction input[name=optionsC]:checked').val(); 
		var scaleable1 = $('#scaleable1 input[name=options1]:checked').val(); 
		var scaleable2 = $('#scaleable2 input[name=options2]:checked').val(); 
		var scaleable3 = $('#scaleable3 input[name=options3]:checked').val(); 
		var scaleable4 = $('#scaleable4 input[name=options4]:checked').val(); 
		var scaleable5 = $('#scaleable5 input[name=options5]:checked').val(); 
		var scaleable6 = $('#scaleable6 input[name=options6]:checked').val(); 
		var id = getParameterByName('id');

		var csrf = $('#csrf').text();
		var data = {csrfmiddlewaretoken: csrf,
					scaleable_justification: scaleable_justification,
					scaleable_difficulty: scaleable_difficulty,
					scaleable_time: scaleable_time,
					scaleable_satisfaction: scaleable_satisfaction,
					scaleable1: scaleable1,
					scaleable2: scaleable2,
					scaleable3: scaleable3,
					scaleable4: scaleable4,
					scaleable5: scaleable5,
					scaleable6: scaleable6,
					id: id};
		$.ajax({
			type: 'POST',
			url: '/scaleablesurvey_post',
			data: data,
			success: function(data) {
				// $('#continue').prop('disabled', false);
				// $('#continue').removeClass('btn-secondary');
				// $('#continue').addClass('btn-primary');

				var next_url = data.url;
				// $('#continue').on('click', function() {
					window.location = next_url + '&id=' + id;
				// });
			}
		});
		return false;
	});

</script>

{% endblock %}
