{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

	<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
		<button type="button" class="btn btn-disabled">You may close this window any time</button>
	</nav>

<main class="flex-shrink-0" role="main">
	<section class="container-fluid">
		<h1 class="headline">Thank you!</h1>

		<p>Thank you for completing the survey.</p>

		<hr />

		<h2>Explanation of the test</h2>

		<hr />


	</section>
</main>

{% endblock %}
