{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

	<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
		<button type="button" class="btn btn-disabled">You may close this window any time.</button>
	</nav>

<main class="flex-shrink-0" role="main">
	<section class="container">
		<h2 class="headline">Thank you!</h2>

		<p>Thank you for taking this survey and helping contribute to our research! We are a team of researchers working on a study of how people perceive digital juries as content moderation systems. This study investigates whether different forms of democratic input improve perceptions of justice on online social media sites. For any follow-up questions or concerns, please contact the researchers: <a href="mailto:jfan@mde.harvard.edu">Jenny</a> or <a href="mailto:axz@mit.edu">Amy</a>.</p>

		<h3>Mechanical Turk Completion Code</h3>
		<p>Please enter the code <code>JUSTICE<span id="group"></span><span id="id"></span></code> to complete the experiment.</p>

	</section>
</main>

{% endblock %}

{% block js %}

<script>
var group = getParameterByName('group');
var id = getParameterByName('id');

$('#group').text(group);
$('#id').text(id);
</script>

{% endblock %}
