{% extends 'juries/base.html' %}
{% load staticfiles %}


{% block content %}

	<nav class="navbar navbar-expand-sm fixed-bottom panel justify-content-end">
		<button type="button" class="btn btn-disabled">You may close this window any time.</button>
	</nav>

<main class="flex-shrink-0" role="main">
	<section class="container-fluid">
		<h1 class="headline">Thank you!</h1>

		<p>Thank you for completing the survey.</p>

		<hr />

		<h2>What was this test about?</h2>

		<p>Thank you for taking this survey and helping contribute to our research! We are a team of researchers working on a study of how people perceive digital juries as content moderation systems.</p>

		<p>This study investigates whether different forms of democratic input improve perceptions of the "just-ness" of a platform.</p>

		<h2>


	</section>
</main>

{% endblock %}
